a {
	text-decoration: none;
}


.footer {
	background-color: #1f1f20;
	bottom: 0;
	height:30px;
	width: 100%;
	padding-top: 10px;
	position: fixed;
	z-index: 10;
}

.footer p {
	color: #ccc;
	font-size: 12px;
	font-weight: 300;
}

header {
	height: 110px;
	width: 100vw;
	background-color: #fff;
	position: fixed;
	z-index: 10;
}

.nav-container {
	height: 100%;
	width: 960px;
	margin: 0 auto;
}

header img {
	display: inline;
	margin-top: 15px;
	height: 80%;
	width: auto;
}

nav {
	float: right;
	list-style-type: none;
    margin: 0;
    padding: 32px 0;
    vertical-align: middle;
}


nav a{
	color: #999;
    padding: 14px 16px;
	text-align: center;
    text-decoration: none;
}

nav a:hover {
	color: #e50b4f;
}

h1 {
	color: #e50b4f;
	font-weight: 300;
	font-size: 70px;
	text-align: center;
}

h2 {
	text-align: center;
	color: #e50b4f;
	font-weight: 300;
	font-size: 50px;
}

h3 {
	color: #e50b4f;
	text-align: center;
}

p{
	font-size: 18px;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
}

.hero {
	background-image: url("../images/computer_keyboard_mouse_laptop_mac_apple_66734_3840x2160.jpg");
}