a {
	text-decoration: none;
}

footer {
	background-color: #1f1f20;
}
header {
	height: 100px;
	width: 100vw;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	position: fixed;
	padding: 20px;
	z-index: 10;
}

.nav-container {
	height: 100%;
	width: 960px;
	margin: 0 auto;
}

img {
	display: block;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
}

header img {
	height: 100%;
	width: auto;
	display: inline;
}

header nav {
	float: right;
	list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    vertical-align: middle;
}


header nav a{
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
	color: #e50b4f;
	font-weight: 300;
	font-size: 70px;
	text-align: center;
}

h2 {
	text-align: center;
	color: #e50b4f;
	font-weight: 300;
	font-size: 50px;
}

h3 {
	color: #e50b4f;
	text-align: center;
}

p{
	font-size: 18px;
	text-align: center;
}